@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    scroll-behavior: smooth;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* border-radius: 10px; */
    background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

body {
    background-color: black;
    opacity: 0;
    animation: fadebody .5s 1s linear forwards;
}


@keyframes fadebody {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* NAVBAR */
nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* background-color: transparent */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-colored {
    background-color: black;
    transition: all .5s linear;
}

.nav-transparent {
    background-color: transparent;
    transition: all .5s linear;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color .3s;
}

.nav-logo {
    display: flex;
    /* padding: 20px; */
    justify-self: flex-start;
    align-self: center;
    font-weight: 100;
    font-size: 35px;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links>li {
    list-style: none;
    padding: 20px 0px;
    transform: translateY(5%);
    transition: transform .2s ease-out;
}

.nav-links>li:hover {
    transform: translateY(0%);
}

.nav-links a {
    font-size: 20px;
    padding: 20px;
}

.nav-links a:hover {
    color: rgb(255, 15, 67);
}

.burger {
    display: none;
    cursor: pointer;
    justify-self: flex-end;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #eee;
}

@media screen and (max-width: 715px) {

    .burger {
        display: block;
        padding: 15px;
    }

    nav {
        padding: 15px;
        background-color: black;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 12vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.2s ease-out;
        z-index: 1;
    }
}

.nav-active {
    transform: translateX(0%);
}


/* COVER */
.hero-img {
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(1, 0, 36, 0.432), black), url(https://images.unsplash.com/photo-1504333638930-c8787321eee0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    position: relative;
    height: 120vh;
    padding: 50px;
}

.hero-content {
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 10em;
}

.hero-content>h1 {
    font-size: 70px;
    font-weight: 200;
    opacity: 0;
    animation: fadebody 1s 1.8s linear forwards;
}

.hero-content>h4 {
    font-size: 30px;
    font-weight: 100;
    margin-top: -20px;
    margin-bottom: 15px;
    opacity: 0;
    animation: fadebody 1s 2.5s linear forwards;
}

.hero-content button {
    opacity: 0;
    animation: fadehero .8s 3s ease-out forwards;
}

@keyframes fadehero {
    0% {
        opacity: 0;
        transform: translateY(250%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* About */
.about-img {
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black), url(/public/img/about-bg.jpeg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    padding: 50px;
}

.about-content {
    color: white;
    margin-top: 10em;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
}

.about-content h1 {
    display: block;
    font-size: 70px;
    font-weight: 200;
}

.about-content h4 {
    font-size: 18px;
    font-weight: 500;
}

.about-content img {
    width: 560px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 5px black;
}

.about-content button {
    margin-top: 2px;
    width: 30%;
}

/* Mission */
.mission-img {
    background-color: black;
    /* background-image: linear-gradient(to bottom, rgba(1, 0, 36, 0.432), black), url(https://images.unsplash.com/photo-1504333638930-c8787321eee0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80); */
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.mission-content {
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 10em;
}

.mission-content h1 {
    display: block;
    font-size: 70px;
    font-weight: 200;
}

.mission-content h4 {
    font-size: 30px;
    font-weight: 500;
    margin: 0 12%;
}

#mission-video {
    /* margin-bottom: 12em; */
    transform: scale(.9);
    margin: 5% 0;
}

.vjs-default-skin.vjs-paused .vjs-big-play-button {
    /* display: none; */
    position: absolute;
    top: 47%;
    left: 47%;
}


/* Button */
button {
    border-style: none;
    padding: 8px 30px;
    border-radius: 4px;
    background-color: rgb(230, 15, 27);
    color: white;
    transition: background-color .3s ease-out;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

button:hover {
    background-color: rgb(255, 25, 50);
}

button:active {
    background-color: rgb(190, 5, 37);
}

button:focus {
    outline: none;
}